<div class="container">
  <div class="row">
    <div class="col-12">
    <%= link_to "Volver al inicio", home_path %>
      <ul>
        <% @lists.each do |list| %>
          <li><%= link_to "#{list.name}", list_path(list.id) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
