<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Listas de Tareas - Pixelpay</h1>
      <%= link_to "Crear una nueva Lista de Tareas", new_path %>
      <%= link_to "Ver todas las listas", index_path %>
    </div>
  </div>
</div>
