<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Listas de Tareas - Pixelpay</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <%= link_to "Crear nueva Lista de Tareas", new_list_path, class: "btn btn-primary" %>
      <%= link_to "Ver todas las listas", lists_path, class: "btn btn-success" %>
    </div>
  </div>
</div>
